[submodule "external/AFNetworking"]
	path = external/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "external/TDAuth"]
	path = external/TDAuth
	url = https://github.com/tweetdeck/TDOAuth.git
